body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #ADBCA5;
    /*Flourish as background image*/ 
    background-image: url("/A1/assignment1_starter_files/images/flourish.png");
    background-position: top left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}

button{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

/*Rremove scroll bar */
body::-webkit-scrollbar {
    display: none;
  }

header, section, footer {
    text-align: center;
    padding: 20px;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    background-color: transparent;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 20px;    
}

.hero-section h1 {
    text-align: center;
    font-size: 2rem; 

}

.page-logo, #spacer {
    display: flex;
    width: 20vw;
}


.features-section {
    /*Remove background color from style.css */
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
    padding: 20px;
    border-radius: 16px;
    color: #302B27;

}
.features-section h2{
    font-weight: bold;
    font-size: 1.5rem; 

}

.feature {
    /*Remove border from style.css */
    display: block;
    border: transparent;
    padding: 10px;
    border-color: #007c95;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);    
}


.quality-list ol{
    justify-content: center;
    width: 102px;
}

.quality-list li {
    color: #fff;
    font-weight: bold;
    list-style-position: inside;
    text-transform: uppercase;
    margin: 5px 0;
    justify-items: center;
    justify-content: center;
    align-items: center;


}


.feature p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    font-style: italic;

}

.feature button {
    background: linear-gradient(132deg, #24a924, #7cc87c);
}

.feature button:hover {
    background: linear-gradient(132deg, #166916, #789378);
    transform: scale(1.05);

}

.about-section {
    /*Remove background color from style.css */
    background-color: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #302B27;
}

.about-section > .about-text {
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 2;
}

.about-text p {
    font-style: italic;

}

.about-section picture {
    flex-grow: 1;
    padding-right: 10px;
}

.cta-section {
    /*Remove background color from style.css */
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.cta-section button{
    background: linear-gradient(135deg, #007bff, #00d4ff);
}

.cta-section button:hover{
    transform: scale(1.05);
    background: linear-gradient(132deg, #002c5a, #007c95);


}

.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}



/*Break points */
@media only screen and (max-width:767px) {
    .hero-section{
        background-image: url("/A1/assignment1_starter_files/images/background-extra-small.jpg");
    }
}
    

@media only screen and (min-width:768px) and (max-width:1023px){
    .hero-section{
        background-image: url("/A1/assignment1_starter_files/images/background-small.jpg");
    }
}

@media only screen and (min-width:1024px){
    .hero-section{
        background-image: url("/A1/assignment1_starter_files/images/background-medium.jpg");
    }
}

@media only screen and (min-width:1920px){
    .hero-section{
        background-image: url("/A1/assignment1_starter_files/images/background-large.jpg");
    }
}



@media only screen and (min-width:2560px){
    .hero-section{
        background-image: url("/A1/assignment1_starter_files/images/background-extra-large.jpg");
    }
}

/*break points for content arrangment*/
@media only screen and (max-width:700px){   

    .features-section{
        padding: 10px;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;
        background-color: transparent;
        align-items: center;
        background-size: cover;
        background-position: center;
        padding: 20px;    
    }
    
    .hero-section h1 {
        text-align: center;
    
    }
    
    .page-logo, #spacer {
        display: flex;
        width: 50%;
    }

    button{
        color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 8px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    }
    
}

@media only screen and (max-width:1060px){
    .about-section {
        /*Remove background color from style.css */
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
    
    .about-section > .about-text {
        padding: 10px;
        flex-wrap: wrap;
        flex-grow: 2;
    }
    
    .about-section picture {
        flex-grow: 1;
        padding-right: 10px;
    }
       
}

@media only screen and (min-width:1300px) and (max-width:1610px) {
    .about-section {
        /*Remove background color from style.css */
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
    
    .about-section > .about-text {
        padding: 10px;
        flex-wrap: wrap;
        flex-grow: 2;
    }
    
    .about-section picture {
        flex-grow: 1;
        padding-right: 10px;
    }
       
}













